<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Copyright (c) 2025 Luka Löhr
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.schoolcode.guestsetup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/guest_login_setup</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>Guest</string>
    <key>StandardOutPath</key>
    <string>/tmp/schoolcode-setup.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/schoolcode-setup.err</string>
</dict>
</plist> 